html {
  font-size: 10px;
  font-family: map-get($fonts, primary), 'Trebuchet MS', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue';
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  line-height: 2;
  font-family: map-get($fonts, primary), 'Trebuchet MS', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue';
  color: map-get($colors, textPrimary);    
}

a {
  text-decoration: none;
  &:visited {
    color: lighten(map-get($colors, primary), 50%);
  }
}

button {
  font-family: map-get($fonts, primary), 'Trebuchet MS', Arial, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue';
}