$fade-duration: 100ms;
$slide-duration: 250ms;
$breadcrumb-duration: 500ms;

// Fades
.fade-enter-active,
.fade-leave-active {
  transition: opacity $fade-duration ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

// Slides
.slide-fade-enter-active {
  transition: all 200ms ease;
}
.slide-fade-leave-active {
  transition: all 300ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

// Breadcrumbs
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all $breadcrumb-duration;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(2rem);
}

.breadcrumb-move {
  transition: all $breadcrumb-duration;
}

.breadcrumb-leave-active {
  position: absolute;
}